/*----------------MAIN/HEADER
------------------------------------------------*/
body {
  background-color: #78deed;
}

#wrapper {
  width: 98%;
  height: 100%;
  padding-bottom: 2em;
  margin: auto;
  background-color: #f0fbfd;
  padding-top: 0;
}

header {
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  padding-bottom: 3em;
  margin-bottom: 2em;
  text-align: center;
}

.active-page {
  color: #444;
  background-color: rgb(183, 183, 183);
  background-color: rgba(183, 183, 183, .6);
  box-shadow: inset 2px 2px 4px #4a5329;
}

.icons {
  font-size: 2em;
  margin: 1em auto;
  display: block;
}

h1, h2, h3, h4 {
  font-family: 'OpenSansLight' serif; 
}

/*----------------HEADERS
------------------------------------------------*/

h1 {
  color: #555;
  font-family: 'Pacifico', cursive;
  font-size: 2.566em;
  letter-spacing: 2px;
  margin-top: 0;
  padding-top: 3em;
}

/*project/blog buttons*/
h2 {
  font-size: 1.125em;
  margin: 1.125em;
  display: inline-block;
  padding: .5em;
  border: solid 1px #555;
  border-radius: 9px;
}

/*post titles*/
h3 { 
  font-size: 1.999em;
  color: #FFB0A8;
  font-family: 'OpenSansBold';
}

/*date*/
h4 {
  color: #ff7264;
  font-size: 1.125em;
  margin-top: .555em;
}

/*subheadings*/
h5 {
  font-size: 1.266em;
  color: #1693A5;
  text-align: left;
  font-family: 'OpenSansLight', serif;
  margin-bottom: .5em;
}

/*----------------LINKS
------------------------------------------------*/

.icons a:link {
  color:#ff7264;
  -webkit-transition: color 0.08s linear;
  -moz-transition: color 0.08s linear;
  transition: color 0.08s linear;
}

.icons a:visited {
  color:#ff7264;
}

.icons a:hover {
  color:#ffcfca;
}

a:link {
  color: #1693A5;
  text-decoration: none;
}

a:hover {
  color: #78deed;
} 

a:visited {
  color: #1693A5;
}

/*----------------ARTICLE STYLES
------------------------------------------------*/
article {
  width: 78%;
  margin: auto;
  padding-bottom: 3em;
  max-width: 60em;
}

li {
  list-style-type: circle;
  color: #ff7f66;
  margin-left: 2em;
}

p {
  font-size: 1.266em;
  font-family: 'OpenSansLight', sans-serif;
  text-align: justify;
  color: #555;
  line-height: 1.5em;
  margin: .25em 0 1em 0;
}

em {
  color: #2f4f4f;
  font-family: 'OpenSansLightItalic';
}

strong {
  font-family: 'OpenSansBold';
}

pre {
  font-family: 'OpenSansLight', sans-serif;
  font-size: 1.266em;
  background: #ADD8C7;
  color: #555;
}

pre p {
  margin-bottom: 1em;
  font-size: 1em;
}

code {
  display: inline;
  background-color: #e8e8e8;
  border-radius: 5px;
}

blockquote {
  font-family: 'OpenSansLight', sans-serif;
  color: #333;
  border-left: 1px solid #1693A5;
  font-size: 1.5em;
  margin: 1.5em 1.5em 1.5em 2em;
  padding-left: 2em;
  line-height: 1.5em;
}

img {
  border: 1px solid #444;
  width: 100%;
}

footer {
  margin: 2em auto;
  border-top: 1px solid #142441;
  width: 50%;
}

/*//////////F O N T S////////////////////////////*/

@font-face {
    font-family: 'OpenSansLight';
    src: url('../font/OpenSans-Light-webfont.eot');
    src: url('../font/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Light-webfont.woff') format('woff'),
         url('../font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLightItalic';
    src: url('../font/OpenSans-LightItalic-webfont.eot');
    src: url('../font/OpenSans-LightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-LightItalic-webfont.woff') format('woff'),
         url('../font/OpenSans-LightItalic-webfont.ttf') format('truetype'),
         url('../font/OpenSans-LightItalic-webfont.svg#OpenSansLightItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansBold';
    src: url('../font/OpenSans-Bold-webfont.eot');
    src: url('../font/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/OpenSans-Bold-webfont.woff') format('woff'),
         url('../font/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../font/OpenSans-Bold-webfont.svg#OpenSansBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*Responsive----------------*/

@media screen and (max-width: 800px) {

article {
  width: 90%;
  padding: 0;
  margin: auto;
}
}

