/*----------------MAIN
------------------------------------------------*/
* {
  moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-size: 16px;
}

em {
  font-family: 'Lora';
  font-weight: 400;
  font-style: italic;
}

p strong, li strong, blockquote strong {
  font-family: 'open sans', 'Arial', sans-serif;
  font-weight: 700;
}

img {
  margin: 0 auto 1em auto;
  width: 100%;
}

li {
  margin-left: 40px;
  font-size: 1em;
  font-family: 'Lora', 'Times New Roman', serif;
  font-weight: 400;
  line-height: 1.5em;
}

/*----------------HEADER
------------------------------------------------*/

header {
  background: url(/blog/images/floral-background.jpg) 50% 0 no-repeat fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -chrome-background-size: cover;
  -moz-background-size: cover;
  background-position: top;
  padding: 8em 0;
}

#header-image {
  max-width: 330px;
  margin: 2em auto 1em auto;
}

/*intro*/
h1 {
  color: #fff;
  font-size: 1.5em;
  margin: 0 auto;
  font-family: 'lora', 'times new roman', serif;
  font-weight: 400;
  text-align: center;
}

h1 a {
  color: #fff;
  text-decoration: none;
  -webkit-transition:color .2s ease-in-out;
  -moz-transition:color .2s ease-in-out; 
  transition:color .2s ease-in-out; 
}

h1 a:hover {
  color: #E84A5F;
  -webkit-transition:color .2s ease-in-out;
  -moz-transition:color .2s ease-in-out; 
  transition:color .2s ease-in-out; 
}

#navbar {
  width: 100%;
  background-color: #2A363B;
  margin-bottom: 8em;
  padding: .7em 2em;
}

h2 {
  font-size: 1em;
  letter-spacing: 1px;
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-family: 'open sans', 'Helvetica', sans-serif;
  font-weight: 700;
  width: 49%;
  vertical-align: middle;
  display: inline-block;
}

/*nav bar name*/

.icons {
  width: 50%;
  display: inline-block;
  font-size: 1.5em;
  vertical-align: middle;
  display: inline-block;
  text-align: right;
  overflow: visible;
}

#navbar a {
  color: #fff;
  -webkit-transition:color .2s ease-in-out;
  -moz-transition:color .2s ease-in-out; 
  transition:color .2s ease-in-out; 
}

#navbar a:visited {
  color: #fff;
}

#navbar a:hover {
  color: #E84A5F;
  -webkit-transition:color .2s ease-in-out;
  -moz-transition:color .2s ease-in-out; 
  transition:color .2s ease-in-out; 
} 

/*----------------ARTICLE STYLES
------------------------------------------------*/

article {
  width: 50%;
  margin: 0 auto 5em auto;
  text-align: justify;
  hypens: auto;
}

article h1 {
  font-family: 'open sans', 'Helvetica', sans-serif;
  font-weight: 700;
  margin: 0 0 .25em 0;
  width: auto;
  padding: 0;
  color: #29353a;
  text-align: left;
}

h3 {
  font-size: 2.618em;
  font-family: 'open sans', 'Helvetica', sans-serif;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.3em;
  text-align: left;
}

h3 a {
  text-decoration: none;
  color: #E84A5F;
  -webkit-transition:color .2s ease-in-out;
  -moz-transition:color .2s ease-in-out; 
  transition:color .2s ease-in-out; 
}

h3 a:visited {
  color:#E84A5F;
}

h3 a:hover {
  color:#FF847C;
  -webkit-transition:color .2s ease-in-out;
  -moz-transition:color .2s ease-in-out; 
  transition:color .2s ease-in-out; 
}

h4 {
  font-size: 1em;
  font-family: 'lora', 'times new roman', serif;
  font-weight: 400;
  margin: 0 0 2em 0;
  color: #c0c0c0;
}

p {
  font-size: 1em;
  font-family: 'Lora', 'Times New Roman', serif;
  font-weight: 400;
  line-height: 1.5em;
  margin: 0 0 1em 0;
}

p a, li a {
  font-style: italic;
  text-decoration: none;
  color: #FF847C;
  -webkit-transition:color .2s ease-in-out;
  -moz-transition:color .2s ease-in-out; 
  transition:color .2s ease-in-out; 
}

p a:visited {
  color:#FF847C;
}

p a:hover {
  color:#fecea8;
  -webkit-transition:color .2s ease-in-out;
  -moz-transition:color .2s ease-in-out; 
  transition:color .2s ease-in-out; 
}

blockquote {
  font-family: "Lora", serif;
  font-size: 1.5em;
  width: 90%;
  margin: 2em auto;
  color: #555;
  font-style: italic;
  line-height: 1.5em;
}

footer {
  text-align: center;
  margin: 0 auto;
}

footer img {
  width: 100%;
}

.footer-image {
  max-width: 400px;
  margin: 0 auto;
}

/*Responsive----------------*/

@media screen and (max-width: 768px) {


}
  