body {
  padding: 10px 0px;
  margin: 0px;
  background-color: #ffffff;
}

h1 {
  font-family: 'Arvo' serif; 
  font-weight: 400;
  text-transform: lowercase;
  font-size: 2.618em;
  color: #787878;
  text-align: center;
}

h2 {
  font-family: 'Arvo', serif;
  font-weight: 400;
  font-size: 1.963em;
  color: #787878;
}

h3 { 
  font-size: 1.1em;
  background-color: #ffffff;
  font-weight: 400;
  color: #787878;
  text-transform: uppercase;
  border-radius: 20px;
  padding: 0px 40px;
  padding-bottom: 10px;
  margin: 0px 0px;
}

p {
  font-size: 1.4em;
  text-align: justify;
  color: #333333;
}

pre{
  font-family: 'Arvo' serif; font-weight: 400;
  font-size: 1.1em;
  background: #ffcccc;
}

blockquote{
  background: #ffffff;
  border-left: 10px solid #ffcc66;
  text-align: justify;
  font-size: 1.214em;
  margin: 1.5em;
  padding-left: 20px;

}

a:link {
  color: #ff6666;
  text-decoration: none;
}

a:hover {
  color: #c0c0c0;} 

a:visited{
  color: #ff6666;
}

#wrapper {
  width: 56.25em;
  padding-top: 0px;
  background: #ffffff;
  margin: auto;
  max-width: 56.25em;
}

#content{
  width: 48.75em;
  font-size: .7em;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  color: #333333; 
  float: right;
  margin-top: 90px;
}

#sidebar{
  width: 13.5em;
  float: left;
  position: fixed;
  left: 20%;
  max-width: 200;
  top:10%;
  border-right: 1px #c0c0c0 solid;
  padding-left: 10px;
}

#sidebar p{
  font-size: 1em;
  color: #c0c0c0;  
  text-align: left;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
}

#footer{
  height: 40px;
  background-color: #ff0066;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin: 300px;
}

.inner-margin{
  padding: 10px;
}

.img{
  margin: 1.5em;
  display: block;
}

.right{
float: right;
}

.left{
float: left;
}