body {
  background-color: #fff6e5;
}

#wrapper {
  width: 100%;
  padding-top: 0px;
}

header {
  background-color: #ff7f66;
  padding: 4em 0 0 0;
  margin: 0 0 5em 0;
  text-align: center;
}

.icons {
  margin: .5em 0 .25em 0;
  font-size: 4em;
}

header a:link {
  color: #e34836;
}

header a:visited {
  color: #e34836;
}

header a:hover {
  color: #ffa18f;
}

.btn {
  background-color:#7babc7;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  display:inline-block;
  color:#3e454c;
  font-size: 1.5em;
  text-decoration:none;
  text-shadow:0px 2px 0px #888;
  vertical-align:middle;
  line-height: 0px;
  margin: .75em 0 1em 0;
  height: 3em;
  padding-left: 1em;
  padding-right: 1em;
}

.btn:hover {
  background-color:#2185c5;
  -moz-transition:background-color .3s ease-in 0, top .3s ease-in 0;
  -o-transition:background-color .3s ease-in 0, top .3s ease-in 0;
  -webkit-transition:background-color .3s ease-in 0, top .3s ease-in 0;
  transition:background-color .3s ease-in 0, top .3s ease-in 0;
}

.btn:active {
  position:relative;
  top: 2px;
}

article {
  width: 70%;
  margin: auto;
  padding-bottom: 3em;
  max-width: 60em;
}

li {
  list-style-type: circle;
  color: #ff7f66;
}

h1, h2, h3, h4 {
  font-family: 'Arvo' serif; 
  font-weight: 400;
}

/*blog header*/
h1 {
  color: #fff6e5;
  font-size: 5.063em;
  text-align: center;
  margin: auto;
}

/*post subheadings*/
h2 {
  font-size: 1.75em;
  color: #2f4f4f;
}

/*blog post titles*/
.titles {
  font-size: 2em;
  color: #fff6e5;
}

/*header button*/
h3 { 
  color: #fff6e5;
  font-size: 1.5em;
}

/*date*/
h4 {
  color: #555;
  font-size: 1.5em;
  margin-top: .5em;
}

p {
  font-size: 1.5em;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  text-align: justify;
  color: #555;
  line-height: 1.5em;
  margin: .25em 0 1em 0;
}

em {
  color: #2f4f4f;
}

pre {
  font-family: 'Arvo' serif; font-weight: 400;
  font-size: 1.25em;
  background: #ffcccc;
  display: inline;
}

code {
  display: inline;
}

blockquote {
  font-family: 'PT Sans', sans-serif;
  color: #555;
  border-left: 1em solid #ff7f66;
  text-align: justify;
  font-size: 1.25em;
  margin: 1.5em .25em;
  padding-left: 2em;
  line-height: 1.2em;
}

img {
  border: 1px solid #444;
  float: right;
  margin: 1em;
}

a:link {
  color: #ff7f66;
  text-decoration: none;
}

a:hover {
  color: #6f869e;
} 

a:visited{
  color: #3e454c;
}

.float-left {
  float: left;
  margin-right: 2em;
}

.float-right {
  float: right;
  margin-left: 2em;
}
/*Responsive----------------*/

@media screen and (max-width: 480px) {
img {
  max-width: 90%;
  height: auto;
  float: none;
  margin: auto;
  display: block;
}

article {
  width: 90%;
  max-width: 480px;
  padding: 5%;
}

header {
  font-size: 70%;
}

  }

