/*----------------MAIN
------------------------------------------------*/
body {

}

a {
  text-decoration: none;
  color: #E84A5F;
}

a:visited {
  color:#E84A5F;
}

a:hover {
  color:#FF847C;
}

/*----------------HEADER
------------------------------------------------*/

header {
  background: url(/blog/images/floral-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  -chrome-background-size: cover;
  -moz-background-size: cover;
  background-position: top;
  padding: 5em 0;
}

.header-image {
  max-width: 330px;
  margin: 2em auto;
}

/*intro*/
h1 {
  background: rgba(255,255,255,.5);
  color: #000;
  font-size: 1.5em;
  padding: .3em;
  display: inline-block;
  margin: 0 auto;
  font-family: 'lora', 'times new roman', serif;
  font-weight: 400;
}

h1 a {
  color: #fff;
}

header a {

}

header a:visited {

}

header a:hover {
  
}

#navbar {
  width: 100%;
  background-color: #2A363B;
  margin-bottom: 2em;
  height: 5em;
}

h2 {
  display: inline-block;
  color: #fff;
  text-transform: uppercase;
  font-family: 'open sans';
  font-weight: 700;
  vertical-align: middle;
}

/*nav bar name*/

.icons {
  width: 10em;
  display: inline-block;
  font-size: 2em;
  vertical-align: middle;
}

#navbar a {
  color: #fff;
}

#navbar a:visited {
  color: #fff;
}

#navbar a:hover {
  
} 

/*----------------ARTICLE STYLES
------------------------------------------------*/

article {

}

/*Responsive----------------*/

@media screen and (max-width: 768px) {


}
  