<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <html lang="en">
    <meta name=viewport
    content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for alejandraluaces.com" href="/feed.xml" />
    <link href='http://fonts.googleapis.com/css?family=Arvo:400|PT+Sans:400|Pacifico' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/normalize.css" media="screen">
    <link rel="stylesheet" href="/css/style.css"  media="screen">
    <link rel="stylesheet" href="/css/fontello-embedded.css"  media="screen">
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="wrapper"> 

      <header>
        <a href="/"><h1>alejandra luaces</h1></a>
        <section class="icons">
          <a href="http://github.com/alejandraluaces"><span class="icon-github icon"></span></a>
          <a href="http://twitter.com/alejandraluaces"><span class="icon-twitter icon"></span></a>
          <a href="http://pinterest.com/aluaces"><span class="icon-pinterest icon"></span></a>
          <a href="http://dribbble.com/alejandraluaces"><span class="icon-dribbble icon"></span></a>
        </section>
        <h2>blog page</h2><h2><a href="../projects/index.html">project page</a></h2>
        <div id="triangle"></div>
      </header>

      <section class="content">
        {{ content }}
      </section>

    </div>
  </body>

</html>