<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <html lang="en">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for alejandraluaces.com" href="/feed.xml" />
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic|PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css" media="screen">
    <link rel="stylesheet" href="css/style.css"  media="screen">
    <title>{{ page.title }}</title>
  </head>
  <body>

    <div id="wrapper">
      <header>
        <a href="/blog/"><img src="images/bolt.png" class="img"></a><br>
          <p>I'm a <strong>Resident Design Apprentice</strong> at <a href="http://www.8thlight.com">8th Light, Inc.</a><br>Follow me on <a href="www.twitter.com/alejandraluaces">Twitter</a>, <a href="www.dribbble.com/alejandraluaces">dribbble</a>, or send me an e-mail. </p> 
      </header>

      <div id="content">
        {{ content }}
      </div>

    </div>
  </body>
</html>
