<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <html lang="en">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for alejandraluaces.com" href="/feed.xml" />
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic|PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css" media="screen">
    <link rel="stylesheet" href="css/style.css"  media="screen">
    <title>{{ page.title }}</title>
  </head>

  <body>
    <div id="wrapper"> 
    <div id="sidebar"> 
      <header>
        <a href="/"><img src="images/antlers.png"></a>
      </header>
      <p>I'm Alejandra, a <em>Resident Design Apprentice</em> at a software development company called <a href="www.8thlight.com">8th Light</a>.  You can find me on twitter, <a href="www.dribbble.com/alejandraluaces">dribbble</a>, or shoot me an <a href="mailto:aluaces@8thlight.com">e-mail</a>.</p>
    </div>
    <div id="content">
     
    {{ content }}
    </div>
    </div>
  </body>

</html>