<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <html lang="en">
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic|PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css" media="screen">
    <link rel="stylesheet" href="css/style.css"  media="screen">
    <title>{{ page.title }}</title>
  </head>
  <body>

    <div id="wrapper">
      <header>
        <a href="/blog/"><img src="images/bolt.png" class="img"></a><br>
          <p>I'm a <strong>Resident Design Apprentice</strong> at <a href="http://www.8thlight.com">8th Light, Inc.</a><br>Follow me on <a href="www.twitter.com/alejandraluaces">Twitter</a>, <a href="www.dribbble.com/alejandraluaces">dribbble</a>, or send me <a href="mailto:aluaces@8thlight.com">an e-mail</a>. </p> 
      </header>

      <div id="content">
        <div class="inner-margin">
          <article>
            <header>
              <h2><a href="/blog{{ page.url }}">{{ page.title }}</a></h2>
              <h3>{{ page.date | date: "%B %d, %Y" }}</h3>
            </header>
            {{ content }}
          </article>
        </div>
      </div>

    </div>
  </body>
</html>
