<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <html lang="en">
    <meta name=viewport
    content="width=device-width, initial-scale=1.0">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for alejandraluaces.com" href="/feed.xml" />
    <link href='http://fonts.googleapis.com/css?family=Lora:400,400italic|Open+Sans:700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/normalize.css" media="screen">
    <link rel="stylesheet" href="/css/style.css"  media="screen">
    <link rel="stylesheet" href="/css/icons-embedded.css"  media="screen">

      <!--scripts-->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
    <script type="text/javascript" src="javascripts/jquery.parallax-1.1.3.js"></script>
    <script type="text/javascript" src="javascripts/jquery-1.9.1.min.js"></script> 
    <script type="text/javascript" src="javascripts/nav.js"></script> 

    <title>{{ page.title }}</title>
  </head>

  <body>
    <header>
      <section id="header-image">
        <a href="/"><img src="/blog/images/headerimage.png"></a>
      </section>
      <h1>crafting compelling user experience</a></h1>
    </header>

        <section id="navbar">
          <a href="/"><h2>alejandra luaces</h2></a>
            <section class="icons">
              <a href="http://github.com/alejandraluaces"><span class="icon-github-1 icon"></span></a>
              <a href="http://twitter.com/alejandraluaces"><span class="icon-twitter-1 icon"></span></a>
              <a href="http://pinterest.com/aluaces"><span class="icon-pinterest icon"></span></a>
              <a href="http://dribbble.com/alejandraluaces"><span class="icon-dribbble icon"></span></a>
            </section>
        </section>

      <article>
        <h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
        <h4>{{ page.date | date: "%B %d, %Y" }}</h4>
        <p>{{ content }}</p>
      </article>

  </body>

    <script type="text/javascript">
   $(document).ready(function(){
     $('#header-image').parallax("50%", 0.4);
    })
  </script>

</html>
