<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <html lang="en">
    <link href='http://fonts.googleapis.com/css?family=Arvo:400,700,400italic|PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/normalize.css" media="screen">
    <link rel="stylesheet" href="css/style.css"  media="screen">
    <title>{{ page.title }}</title>
  </head>
  <body>


<body>
    <div id="wrapper"> 
    <div id="sidebar"> 
      <header>
        <a href="/"><img src="images/antlers.png"></a>
      </header>
      <p>I'm Alejandra, a <em>Resident Design Apprentice</em> at a software development company called <a href="www.8thlight.com">8th Light</a>.  You can find me on twitter, <a href="www.dribbble.com/alejandraluaces">dribbble</a>, or shoot me an <a href="mailto:aluaces@8thlight.com">e-mail</a>.</p>
      <a href="/projects.html">Projects</a>
    </div>
      <div id="content">
        <div class="inner-margin">
          <article>
            <header>
              <h2><a href="{{ page.url }}">{{ page.title }}</a></h2>
              <h3>{{ page.date | date: "%B %d, %Y" }}</h3>
            </header>
            {{ content }}
          </article>
        </div>
      </div>

    </div>
  </body>
</html>
